.footer {
    padding: 40px 0;
    background-color: $mainColor;
    &__grid {
        display: grid;
        grid-template: repeat(2, 1fr) / 1fr;
        justify-items: center;
    }
    &__copyright {
        text-align: center;
        font-size: 12px;
        color: #9c9c9c;
        margin-bottom: 10px;
        & a {
            color: #fff;
            transition: all ease 0.1s;
            @media (min-width: $media-big-tb) {
                &:hover {
                    color: $secondColor;
                }
            }
        }
    }
    &__social {
        align-items: center;
        justify-items: center;
    }
}
